.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color : white;
  }

.homepage-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/Hero.jpg");
}

.hero-text{
    margin-top : 20vh;
}

.wrapper .jumbotron-fluid{
    margin-bottom : 0;
}

