.jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color : white;
  }


.App .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/Hero.jpg");
    margin-bottom : 0;
}

.App .snow{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/HeroSnow.jpeg");
    margin-bottom : 0;
}

.App .rain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/HeroRain.jpeg");
    margin-bottom : 0;
}

.hero-text{
    margin-top : 30vh;
}

.wrapper .jumbotron-fluid{
    margin-bottom : 0;
}

.button .btn{
    margin-top : 3vh;
    width : 20vh;
    border-radius: 0;
    color : white;
}


.container h3{
    font-size : 2rem;
    font-weight : normal;
}
